[tool.black]
line-length = 120
target-version = ["py310"]

[tool.isort]
profile = "black"
line_length = 120

[tool.flake8]
max-line-length = 120
extend-ignore = ["E203", "W503", "D100", "D101", "D102", "D103", "D104", "D107"]
exclude = ["__pycache__", "build", "dist", ".venv", "env", ".env"]
